    body .container {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-family:'Do Hyeon', sans-serif
    }

    body {
      font-family: 'Lato', sans-serif;
      background-color: lightgrey;
    }

    body .container {
      position: relative;
      width: 700px;
      height: 600px;
      margin: 5% auto 0;
      background-color: snow;
      -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;
    }

    body .container .half {
      float: none;
      width: 100%;
      height: 100%;
      padding: 50px 40px;
    }

    body .container h1 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 23px;
      text-align: center;
      text-indent: 6px;
      letter-spacing: 7px;
      text-transform: uppercase;
      color: #263238;
    }

    body .container .tabs {
      width: 100%;
      margin-bottom: 29px;
      border-bottom: 1px solid #d9d9d9;
    }

    body .container .tabs .tab {
      display: inline-block;
      margin-bottom: -1px;
      padding: 20px 15px 10px;
      cursor: pointer;
      letter-spacing: 0;
      border-bottom: 1px solid #d9d9d9;
      -moz-user-select: -moz-none;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      transition: all 0.1s ease-in-out;
    }

    body .container .tabs .tab a {
      font-size: 11px;
      text-decoration: none;
      text-transform: uppercase;
      color: #d9d9d9;
      transition: all 0.1s ease-in-out;
    }

    body .container .tabs .tab.active a,
    body .container .tabs .tab:hover a {
      color: #263238;
    }

    body .container .tabs .tab.active {
      border-bottom: 1px solid #263238;
    }

    body .container .content form {
      position: relative;
      height: 150px;
    }

    body .container .content label:first-of-type,
    body .container .content input:first-of-type,
    body .container .content .more:first-of-type {
      -moz-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
      -webkit-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
      animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);
    }

    body .container .content label:nth-of-type(2),
    body .container .content input:nth-of-type(2),
    body .container .content .more:nth-of-type(2) {
      -moz-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
      -webkit-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
      animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);
    }

    body .container .content label:nth-of-type(3),
    body .container .content input:nth-of-type(3),
    body .container .content .more:nth-of-type(3) {
      -moz-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
      -webkit-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
      animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);
    }

    body .container .content label {
      font-size: 12px;
      color: #263238;
      -moz-user-select: -moz-none;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    }

    body .container .content label:not([for='remember']) {
      display: none;
    }

    body .container .content input.inpt {
      font-size: 14px;
      display: block;
      width: 100%;
      height: 42px;
      margin-bottom: 12px;
      padding: 16px 13px;
      color: #999999;
      border: 1px solid #d9d9d9;
      background: transparent;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
    }

    body .container .content input.inpt::-webkit-input-placeholder {
      font-size: 14px;
      color: #999999;
      font-family: 'Lato', sans-serif;
    }

    body .container .content input.inpt:-moz-placeholder {
      font-size: 14px;
      color: #999999;
      font-family: 'Lato', sans-serif;
    }

    body .container .content input.inpt::-moz-placeholder {
      font-size: 14px;
      color: #999999;
      font-family: 'Lato', sans-serif;
    }

    body .container .content input.inpt:-ms-input-placeholder {
      font-size: 14px;
      color: #999999;
      font-family: 'Lato', sans-serif;
    }

    body .container .content input.inpt:focus {
      border-color: #999999;
    }

    body .container .content input.submit {
      font-size: 12px;
      line-height: 42px;
      display: block;
      width: 100%;
      height: 42px;
      cursor: pointer;
      vertical-align: middle;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #263238;
      border: 1px solid #263238;
      background: transparent;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
    }

    body .container .content input.submit:hover {
      background-color: #263238;
      color: #ffffff;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
    }

    body .container .content input:focus {
      outline: none;
    }

    body .container .content .checkbox {
      margin-top: 4px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      width: 0;
      height: 0;
      margin: 17px -1px;
      padding: 0;
      border: 0;
    }

    body .container .content .checkbox+label {
      vertical-align: middle;
      display: inline-block;
      width: 50%;
    }

    body .container .content .checkbox+label:before {
      content: "\A";
      color: #999999;
      font-family: Verdana;
      font-weight: bold;
      font-size: 8px;
      line-height: 10px;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      background: transparent;
      border: 1px solid #d9d9d9;
      width: 11px;
      height: 11px;
      margin: -2px 8px 0 0;
    }

    body .container .content .checkbox:checked+label:before {
      content: "✓";
    }

    body .container .content .submit-wrap {
      position: relative;
      bottom: 0;
      width: 100%;
    }

    body .container .content .submit-wrap a {
      font-size: 12px;
      display: block;
      margin-top: 20px;
      text-align: center;
      text-decoration: none;
      color: #999999;
    }

    body .container .content .submit-wrap a:hover {
      text-decoration: underline;
    }

    body .container .content .signup-cont {
      display: none;
    }

    body .sidebar-wrapper {
      position: fixed;
      z-index: 2;
      right: 0;
      width: 250px;
      height: 100%;
      -webkit-transition: all 0.4s ease 0s;
      -moz-transition: all 0.4s ease 0s;
      -ms-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
      transform: translateX(250px);
      background: grey;
      border-left: 1px solid rgba(255, 255, 255, 0.1);
    }

    body .sidebar-nav {
      position: absolute;
      top: 0;
      width: 250px;
      margin: 0;
      padding: 0;
      list-style: none;
      font-family:'Do Hyeon', sans-serif
    }

    body .sidebar-nav li.sidebar-nav-item a {
      display: block;
      text-decoration: none;
      color: #fff;
      padding: 15px;
    }

    body .sidebar-nav li a:hover {
      text-decoration: none;
      color: #fff;
      background: rgba(255, 255, 255, 0.2);
    }

    body .sidebar-nav li a:active,
    body .sidebar-nav li a:focus {
      text-decoration: none;
    }

    body .sidebar-nav>.sidebar-brand {
      font-size: 1.2rem;
      background: rgba(52, 58, 64, 0.1);
      height: 80px;
      line-height: 50px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 15px;
    }

    body .sidebar-nav>.sidebar-brand a {
      color: #fff;
    }

    body .sidebar-nav>.sidebar-brand a:hover {
      color: #fff;
      background: none;
    }

    body .sidebar-wrapper.active {
      right: 250px;
      width: 250px;
      -webkit-transition: all 0.4s ease 0s;
      -moz-transition: all 0.4s ease 0s;
      -ms-transition: all 0.4s ease 0s;
      -o-transition: all 0.4s ease 0s;
      transition: all 0.4s ease 0s;
    }

    body .menu-toggle {
      position: fixed;
      right: 15px;
      top: 15px;
      width: 50px;
      height: 50px;
      text-align: center;
      color: #fff;
      background: rgba(52, 58, 64, 0.5);
      line-height: 50px;
      z-index: 999;
    }

    body .menu-toggle:focus,
    .menu-toggle:hover {
      color: #fff;
    }

    body .menu-toggle:hover {
      background: #343a40;
    }

    @keyframes slideIn {
      0% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        margin-left: -320px;
      }
      100% {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
        margin-left: 0px;
      }
    }

    @-webkit-keyframes slideIn {
      0% {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        margin-left: -320px;
      }
      100% {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
        margin-left: 0px;
      }
    }

    .credits {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      color: #999999;
      font-size: 14px;
      margin: 0 10px 10px 0;
    }

    .credits a {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
      opacity: 0.8;
      color: inherit;
      font-weight: 700;
      text-decoration: none;
    }
