<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>공공주차장 서비스</title>

  <!-- Bootstrap Core CSS -->
  <link href="/static/login/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/static/login/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
  <link href="/static/login/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/static/login/css/stylish-portfolio.min.css" rel="stylesheet">
  
  <link href="/static/login/css/login.css" rel="stylesheet">

  <!-- Popup Javascript -->
  <script>
    var centerY=Math.floor((screen.availHeight-(500 || screen.height))/2)-(screen.height-screen.availHeight);
    var centerX=Math.floor((screen.availWidth-(600 || screen.width))/2)-(screen.width-screen.availWidth);

    function personalpopup() {
      window.open('personalagreement','개인정보활용동의서','menubar=no,toolbar=no,loaction=no,status=no,,width=600, height=500, resizable=no, left='+centerX+', top='+centerY+', screenx='+centerX+', screeny='+centerY);
    }
  </script>

</head>

<script type="text/javascript">
function MM_popupMsg(msg){
  alert(msg);
}
</script>
<body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          {% if message == "나이" %}
            <script>MM_popupMsg("나이를 잘못 입력하셨습니다! 숫자로만 입력해주세요.")</script>
          {% elif message == "인원" %}
            <script>MM_popupMsg("인원을 잘못 입력하셨습니다! 숫자로만 입력해주세요.")</script>
          {% elif message == "아이디중복" %}
            <script>MM_popupMsg("중복된 E-Mail입니다. 다른 이메일을 사용해주세요!")</script>
          {% elif message == "emailfail" %}
            <script>MM_popupMsg("가입되어있지 않은 이메일입니다. 다시 한번 확인해주세요!")</script>
          {% elif message == "signUpErrorLen" %}
            <script>MM_popupMsg("입력하신 정보가 올바르지 않습니다. \n다시 한번 확인해주세요.\n(정보가 너무 깁니다.)")</script>
          {% elif message == "비동의" %}
            <script>MM_popupMsg("개인정보활용 동의를 하지 않으셨습니다.")</script>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
  <section class="container">
    <article class="half">
      <h1 style="font-size:34px;margin-bottom:0">공공주차장 서비스</h1>
      <div class="tabs" style="font-size:20px;margin-bottom:10px">
        <span class="tab signin active"><a>로그인</a></span>
        <span class="tab signup"><a>회원가입</a></span>
      </div>
      <div class="content">
        <div class="signin-cont cont">
          <form action="/search/" method="POST">
            <input type="email" name="email" id="email" class="inpt" required="required" placeholder="E-mail">
            <label for="email">E-mail</label>
            <input type="checkbox" id="remember" class="checkbox" checked>
            <label for="remember">E-mail 기억하기</label>
            <div class="submit-wrap">
              <input type="submit" value="로그인" class="submit">
            </a>
            </div>
          </form>
          <form action="/nologin">
            <div class="submit-wrap">
              <input type="submit" value="비회원 로그인" class="submit">
              <br>
              <p style="font-size:20; text-align: center"> 정말 간단하게 회원가입이 가능합니다. 이메일을 포함한 간단한 정보를 입력하고 회원이 되어주세요!</p>
            </a>
            </div>
          </form>
          
          
        </div>
        <div class="signup-cont cont">
          <form action="/login_result" method="POST">
            <a href='www.publicparking.kr/personalagreement' onclick='personalpopup(); return false' style="font-size:larger;color:blue">
              (필수)개인정보활용동의서
            </a>   
            <input type="radio" name="personal" value="동의" id="agree" style="margin-left:55%">동의합니다.
            <div>
              <span style="font-weight:bold">※비동의하시는 경우 비회원로그인을 이용하시길 바랍니다.※</span>
            </div>
            <input type="email" name="email" id="email" class="inpt" required="required" placeholder="E-mail">
            <label for="email">E-mail</label>
            <input type="phone" name="phone" id="phone" class="inpt" required="required" placeholder="전화번호">
            <label for="phone">전화번호</label>
            <input type="address" name="address" id="address" class="inpt" required="required" placeholder="주소 (OO도 OO시 OO구로 입력)">
            <label for="address">주소</label>
            <input type="age" name="age" id="age" class="inpt" required="required" placeholder="나이">
            <label for="age">나이</label>
            <input type="gender" name="gender" id="gender" class="inpt" required="required" placeholder="성별 (남자는 M,여자는 W으로 입력)">
            <label for="gender">성별</label>
            <input type="family" name="family" id="family" class="inpt" required="required" placeholder="동행 인원 수">
            <label for="family">동행 인원 수</label>
            <div class="submit-wrap">
                  <input type="submit" value="회원가입하기" class="submit">
            </div>
          </form>
        </div>
      </div>
    </article>
    <br><br>
    <h2 style="font-size:24; text-align: center"> 2018년 추석, 무료로 개방하는 주차장을 찾아보세요! </h2>
    <p style="font-size:20; text-align: center"> 공공데이터포탈에서 데이터를 제공받아 추석 연휴 무료로 개방하는 주차장을 손쉽게 검색할 수 있는 사이트입니다. <br> 
      데이터가 잘못되었거나 다른 문제가 있으면 페이지 하단의 e-mail로 피드백해주세요.</p>
      <br>
    <a href="mailto:rjsdn315@gmail.com" style="position:absolute ; right:30px; font-size:20; text-align: right;">E-mail 보내기(rjsdn315@gmail.com)</a>
  </section>



  <!-- Bootstrap core JavaScript -->
  <script src="/static/login/vendor/jquery/jquery.min.js"></script>
  <script src="/static/login/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/login/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/login/js/stylish-portfolio.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript">
    $('.tabs .tab').click(function () {
      if ($(this).hasClass('signin')) {
        $('.tabs .tab').removeClass('active');
        $(this).addClass('active');
        $('.cont').hide();
        $('.signin-cont').show();
      }
      if ($(this).hasClass('signup')) {
        $('.tabs .tab').removeClass('active');
        $(this).addClass('active');
        $('.cont').hide();
        $('.signup-cont').show();
      }
    });
  </script>
</body>

</html>
