<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>publicparking 개인정보이용동의서</title>
  <link rel= "stylesheet" type="text/css" href="/static/login/css/personal.css">
</head>
<body>
<div id="main">
  <div class="main_name">
    <h2>
      공공주차장서비스이용에 따른 개인정보 수집 및 동의
    </h2>
    <div>
        <span class="sitetext" style="color:red">회원제 서비스이용에 따른 필요한 동의 절차입니다.</span>
    </div>
    <div>
        <span class="sitetext" style="color:red">비동의하시는 경우 비로그인을 이용하세요.</span>
    </div>
  </div>
  <div class="sub_content">
    <ul>
      <li>
        <h3>1. 개인정보의 수집 및 이용목적</h3>
      </li>
      <p>
        전국 공공주차장 검색할 수 있는<span class="sitetext">"publicparking 사이트"</span>는 공공데이터포털(www.data.go.kr)로 부터 자료를 제공받아 명절기간 동안 무료로 운영하는 공공주차장 안내 서비스를 효과적으로 제공하기 위하여 <span class="sitetext" style="color:red">개인정보를 수집하고 있으며 수집된 정보를 아래와 같이 이용하고 있습니다.</span>
      </p>
      <p>
        이용자가 제공한 모든 정보는 하기 목적에 필요한 용도 이외로는 사용되지 않으며 이용 목적이 변경될 시에는 사전 동의를 구할 것입니다. 
      </p>
      <li>
        <h4>1. 1) 회원관리</h4>
      </li>
      <p>
        회원제 서비스 이용에 따른 본인확인, 본인의 의사확인, 고객문의에 대한 응답, 새로운 정보의 소개 및 고지사항 전달
      </p>
      <li>
        <h4>1. 2) 주차장 이용현황, 선호도 파악을 위한 통계학적 분석</h4>
      </li>
      <li style="border-top:2px solid black">
        <h3>2. 수집하는 개인정보 항목 및 수집방법</h3>
      </li>
      <p>
        <span class="sitetext">"publicparking 사이트"</span>에서는 별도의 회원가입 절차 없이 대부분의 컨텐츠에 자유롭게 접근할 수 있으며, <span class="sitetext" style="color:red">회원제 서비스를 이용하시려면 필수항목을 입력하셔야 합니다.</span>
      </p>
      <li>
        <h4>2. 1) 회원가입시 수집하는 개인정보의 항목</h4>
      </li>
      <table class="content_table">
        <tr>
          <td>분류</td>
          <td>이용목적</td>
          <td>이용항목</td>
          <td>보유 및 파기</td>
        </tr>
        <tr>
          <td>필수정보</td>
          <td rowspan="2">가입, 서비스 이용 및 상담, 부정이용 확인·방지</td>
          <td>E-mail, 전화번호, 주소, 나이, 성별, 동행인원수</td>
          <td rowspan="2">회원 탈퇴시 즉시 삭제, 해당 3번의 내용을 따름</td>
        </tr>
        <tr>
          <td>파생정보</td>
          <!-- <td></td> -->
          <td>IP Address, 쿠키, 방문 일시, 서비스 이용 기록, 불량 이용 기록, 광고 ID</td>
          <!-- <td></td> -->
        </tr>
      </table>
      <li>
        <h4>2. 2) 개인정보 수집방법</h4>
      </li>
      <p>
        - 홈페이지, 전화, 고객센터 문의하기
      </p>
      <li style="border-top:2px solid black">
        <h3>3. 개인정보의 보유 및 이용기간</h3>
      </li>
      <p>
        <span class="sitetext">"publicparking 사이트"</span>는 회원가입일로부터 서비스를 제공하는 기간 동안에 한하여 이용자의 개인정보를 보유 및 이용하게 됩니다. <span class="sitetext" style="color:red">회원탈퇴를 요청하거나 개인정보의 수집 및 이용에 대한 동의를 철회하는 경우, 수집 및 이용목적이 달성되거나 이용기간이 종료한 경우 개인정보를 지체 없이 파기합니다.</span>
        단, 다음의 경우에 대해서는 각각 명시한 이유와 기간 동안 보존합니다.
        상법 등 관계법령의 규정에 의하여 보존할 필요가 있는 경우 법령에서 규정한 보존기간 동안 거래내역과 최소한의 기본정보를 보유합니다.
        이 경우, 보관하는 정보를 그 보관의 목적으로만 이용합니다.
      </p>
      <li><span class="sitetext">
        소비자의 불만 또는 분쟁처리에 관한 기록 : 3년
      </span></li>
      <li><span class="sitetext">
        부정이용 등에 관한 기록 : 5년
      </span></li>
      <li><span class="sitetext">
        웹사이트 방문기록(로그인 기록, 접속기록) : 3개월
      </span></li>
      <li>
        <h4>3. 1) 보유기간을 미리 공지하고 그 보유기간이 경과하지 아니한 경우와 개별적으로 동의를 받은 경우에는 약정한 기간 동안 보유합니다.</h4>
      </li>
      <li>
        <h4>3. 2) 개인정보보호를 위하여 이용자가 선택한 개인정보 보유기간(1년, 3년, 회원탈퇴시) 동안 "사이트"를 이용하지 않은 경우, "아이디"를 "휴면계정"으로 분리하여 해당 계정의 이용을 중지할 수 있습니다.</h4>
      </li>
    </ul>
  </div>
  <div>
    <input type='BUTTON' value="확인" onClick='self.close()' style="background: white;border:1px solid black;width:70px;height:35px;position: absolute;right:20px;margin-bottom:20px;font-weight:bold;font-size:15px">
  </div>
</div>
</body>
</html>
