<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>search</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/search/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/search/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="/static/search/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/search/css/stylish-portfolio.min.css" rel="stylesheet">

    <!-- search box CSS -->
    <link href="/static/search/css/searchbox.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- navmodal CSS -->
    <link rel="stylesheet" href="/static/search/css/navmodal.css">
    <style>
      a:link {color:black;border:none}
      a:visited {color:black;border:none}
      a:hover {color:green}
      a:active {color:green}      
    </style>

  </head>

  <body id="page-top">
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          {% if message == "updateError" %}
            <script>alert("회원정보 수정이 정상적으로 이루어지지 않았습니다. 다시 한번 확인해주세요.")</script>
          {% elif message == "updateSuccess" %}
            <script>alert("회원정보가 정상적으로 수정되었습니다!")</script>
          {% elif message == "NonMemData" %}
            <script>alert("비회원은 정보수정이 불가능합니다.")</script>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}

    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">{{session['ID']}} 님</a>
        </li>
        <li class="sidebar-nav-item" style="margin-top:10px">
          <a class="js-scroll-trigger" href="/member">파콧 머니　 :     0원<br>파콧 포인트 :     0원</a>
        </li>
        <li class="sidebar-nav-item" style="margin-top:5px;margin-left:5px">
            <a class="js-scroll-trigger" href="/search/logout" style="border:1px solid #e5e8ef;width:100px;height:30px;text-align:center;padding-top:3px">로그아웃</a>
        </li>
        <li class="sidebar-nav-item" style="margin-top:10px">
          <a class="js-scroll-trigger" href="/member">정보수정</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span style="color:white">검색내역</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown" style="width:100%;overflow:auto;height:450px;">
            <ul style="padding:0;border-bottom:1px solid black;text-align:center ">
              <li style="display:block">내역 : {{park_want_len}}건 </li>
            </ul>
            <ul class='dropdownList'>
              {% for i in range(park_want_len) %}
              <a href="http://www.publicparking.kr/details/{{park_code_list[i]}}" target="_blank" style="color:black">
                <li>
                  <h3 style="text-align:center">{{park_want_list[i]}}</h3>
                </li>
              </a>
              {% endfor %}
            </ul>  
          </div>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="">데이터 Lab</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="">추천 서비스</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="">제휴 서비스</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" href="">코인 거래</a>
        </li>
      </ul>
    </nav>

    <!-- Header -->
    <header class="masthead d-flex">
      <div class="container text-center my-auto">
        <h1 class="mb-1" style="color:white;font-size:100px">ParKoT</h1> <br>
        <h2 class="mb-5">
          <em style="color:#FFFF96;font-weight:200;font-size:60px">당신의 차가 있을 곳은?</em>
        </h3>
        <div class="searchbox">
        <!-- POST 사용으로 address에 input 값을 넣어줌 -->
          <form action='/search/result/' method='POST'>
            <input type="search" placeholder="주소,장소명 입력" name="address">
            <button type="submit"></button>
          </form>
          </div>
      </div>
      <div class="overlay"></div>
    </header>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="/static/search/vendor/jquery/jquery.min.js"></script>
    <script src="/static/search/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Plugin JavaScript -->
    <script src="/static/search/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/search/js/stylish-portfolio.min.js"></script>

  </body>

</html>
