<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>상세 정보</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/details/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="/static/details/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
    

    <!-- Custom styles for this template -->
    <link href="/static/details/css/resume.min.css" rel="stylesheet">
    <link href="/static/details/css/form.css" rel="stylesheet">
    <link href="/static/details/css/detaiList.css" rel="stylesheet">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=tUqrLwYE5RBZ93YVPsdb&submodules=geocoder"></script>

  </head>

  <body id="page-top">
    <!-- 예외처리 -->

      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          {% if message == "NonMemOneLine" %}
            <script>alert("비회원은 한줄평을 작성하실수 없습니다. \n한줄평을 사용하시려면 로그인을 해주세요!")</script>
          {% elif message == "NonMemLike" %}
            <script>alert("비회원은 만족도조사를 하실수 없습니다. \n만족도조사를 하시려면 로그인을 해주세요!")</script>
          {% elif message == "NonMemwant" %}
            <script>alert("비회원은 날짜 선택이 불가능합니다. \n원하는 날짜를 선택하시려면 로그인을 해주세요!")</script>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}

<!-- 내비게이션 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-none d-lg-block">
          <h3>{{park[p_num]['p_name']}}</h3>
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a style="font-family:'Do Hyeon', sans-serif;font-size:30px" class="nav-link js-scroll-trigger" href="#about">상세정보</a>
          </li>
          <li class="nav-item">
            <a style="font-family:'Do Hyeon', sans-serif;font-size:30px" class="nav-link js-scroll-trigger" href="#experience">개방 날짜</a>
          </li>
          <li class="nav-item">
            <a style="font-family:'Do Hyeon', sans-serif;font-size:30px" class="nav-link js-scroll-trigger" href="#education">한줄평</a>
          </li>
          <!-- <li class="nav-item">
            <a style="font-family:'Do Hyeon', sans-serif;font-size:30px" class="nav-link js-scroll-trigger" href="#skills">이용자 분석</a>
          </li> -->
          <li class="nav-item" style="margin-top:20px">
            <h5>만족도 조사</h5>
            <div>
              <form action="/details/like/{{p_code}}" method="POST">
                <!-- hidden은 여기서 사용자에게 보이지 않는 값을 의미한다 -->
                  <input type="hidden" name="like" value="2">
                  <input type="submit" value="좋아요" style="width:100px;height:40px;font-family:'Do Hyeon';margin-bottom:10px;background:white;cursor: pointer;">
                  <span style="font-family: 'Do Hyeon'; color: rgb(0, 0, 0); font-size: 20px">누적수 : {{day_like2}}</span>
              </form>
            </div>
            <div>
                <form action="/details/normal/{{p_code}}" method="POST">
                  <input type="hidden" name="normal" value="1">
                  <input type="submit" value="그냥 그래요" style="width:100px;height:40px;font-family:'Do Hyeon';margin-bottom:10px;background:white;cursor: pointer;">
                  <span style="font-family: 'Do Hyeon'; color: rgb(0, 0, 0); font-size: 20px">누적수 : {{day_like1}}</span>
                </form>
            <div>
              <form action="/details/hate/{{p_code}}" method="POST">
                <input type="hidden" name="hate" value="0">
                <input type="submit" value="싫어요" style="width:100px;height:40px;font-family:'Do Hyeon';margin-bottom:10px;background:white;cursor: pointer;">
                <span style="font-family: 'Do Hyeon'; color: rgb(0, 0, 0); font-size: 20px">누적수 : {{day_like0}}</span>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </nav>



    <div class="container-fluid p-0">
      <!-- 상세정보 -->
      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <ul id="aboutList" style="height:30%">
          <li>
            <h2>
              {{park[p_num]['p_name']}}
            </h2>
        </li>
          <li>
            <h5>
              유 형 - {{park[p_num]['p_type']}}
            </h5>
          </li>
          <li >
            <h5>
              주 소 - {{park[p_num]['p_address']}}
            </h5>
          </li>
          <li >
            <h5>
              관 리 번 호 - {{park[p_num]['p_number']}}
            </h5>
          </li>
          <li >
            <h5>
              관리기관 - {{park[p_num]['p_admit']}}
            </h5>
          </li>
          <li >
            <h5>
              특이사항 - {{park[p_num]['p_desp']}}
            </h5>
          </li>
          <li >
            <h5>
              가 격 - 30분당 600원
            </h5>
          </li>
          <li style="width:800px;">
           <div id="map" style="width:100%;height:400px;"></div>
           <!-- 주차장에 따른 위경도 값을 가져와서 하단의 LatLng에 대입 -->
           <script>
           
            var park = {{ park|tojson }}
            
            // 마커를 표시하기 위하여 마커(위도,경도) 저장
              var addr = [{{park[p_num]['p_lat']}}, {{park[p_num]['p_long']}}]
 
              var map = new naver.maps.Map('map', {
                      center: new naver.maps.LatLng(addr[0],addr[1]),
                      scaleControl: false,
                      logoControl: false,
                      mapDataControl: false,
                      zoomControl: true,
                      zoomControlOptions: {
                        style: naver.maps.ZoomControlStyle.SMALL,
                        position: naver.maps.Position.TOP_RIGHT
                      },
                      minZoom: 1
                    });

              var markers = new naver.maps.Marker({
                position: new naver.maps.LatLng(addr[0],addr[1]),
                map: map
              });
           </script>
           
          </li>
        </ul>
      
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div>
          <h2>주차장 예약</h2>
        </div>
        <div>
          <h3>원하는 주차 날짜, 시간를 선택하세요</h3>
        </div>
        <div id="formBox">
          <form action="/details/date/{{p_code}}" method='POST'>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
            <input class="subMit" type="submit" value="결제" style="cursor: pointer;">
            
            <input class="subMit" type="submit" value="초기화" style="cursor: pointer;">
          </form>
      </div>

      </section>

      <hr class="m-0">
      <!-- 한줄평 -->
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div>
          <ul>
            <li style="display:block">
              <h2>한줄평</h2>
            </li>
            <li style="display:block">
              <h3>장소에 대해 평가해주세요</h3>
            </li>
          </ul>
          <form action='/details/comment/{{p_code}}' method='POST'>
            <div style="float:left">
              <textarea id="contentHelp" style="width:500px;height:60px;" name="comment"></textarea>
              <div class="remaining"> 남은 글자수: <span class="count">50</span>
              </div>
              </div>
            <div style="float:left;">    
              <input type="image" id="pointAddButton" src="https://ssl.pstatic.net/static/movie/2012/06/score_btn_submit.png" alt="등록" style="height:60px">
            </div>
          </form>
        </div>
        <div style="overflow:auto;height:600px;width:850px;border-top:2px solid black;border-bottom:2px solid black;">
          <ol>
          {% if comment_len != 0 %}
            {% for i in range(comment_len) %}
              <li style="height:48px">
                <p style="margin:0;border-bottom:1px solid gray ">
                <h7 style="color: black">
                 {{comment_str[i]}}<br>
                 </h7><h7>
                                                   ┗ {{comment_email[i]}}
                </h7>
                </p> 
              </li>
            {% endfor %}
          {% else %}
            <li style="height:48px">
                <p>
                한줄평이 없습니다! 첫 한줄평의 주인공이 되어주세요!
                </p> <hr>
              </li>
          {% endif%}
          </ol>
        </div>
        

      </section>

      <hr class="m-0">

    </div>

    <!-- Bootstrap core JavaScript -->

    <script src="/static/details/vendor/jquery/jquery.min.js"></script>
    <script src="/static/details/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/details/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/details/js/resume.min.js"></script>
    <script src="/static/details/vendor/jquery/jquery.count.js"></script>
  </body>

</html>
